@model Estimating_Tool.Models.EstimateStatus

@{
				/**/

				ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Estimate Status</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstimateStatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimateStatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimateStatusStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateStatusStr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="button" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "EstimateStatus", new { id = Model.EstimateStatusId }, null)'" /> |
    @Html.ActionLink("Back to List", "Index")
</div>
}
